/*------------------------------------------------------------------------------
 * @package:   fairy-god-boss-challenge
 * @author:    Richard B Winters
 * @copyright: 2018 Richard B Winters.
 * @license:   Apache v2.0
 * @version:   1.0.0
 *------------------------------------------------------------------------------
 *
 * TOC
 *
 * 1. Structural Styles
 *----------------------------------------------------------------------------*/


/******************************************************************************\
 * 1. Structural Styles
\******************************************************************************/

.message-board_container {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    .message-board_container\+inner {
        display: flex;
        margin: 0 8px;
        padding: 12px 0;
        min-height: 100vh;
        border: none;
        text-align: center;

        .content-block {
            margin: 0;
            padding: 8px;
            flex: 1 1 auto;
            width: 100%;
            border: 1px solid #ddd;

            &_inner {
                height: auto;
                width: 100%;

                .content-wrap {
                    display: flex;
                    flex-flow: column;
                }

                .focus-header {
                    width: 100%;

                    .header-wrap {
                        padding: 0;
                    }
                }

                .focus-content {
                    width: 100%;
                    height: 100%;

                    .message-content_container {
                        position: relative;
                    }
                }

                .message-list_container {
                    position: relative;
                    padding-bottom: 48px;
                    height: 100%;

                    @extend .content-wrap;

                    .message-list {
                        position: relative;
                        margin-top:24px;

                        &.no-messages {
                            top: 50%; left: 50%;
                            transform: translate(-50%,-50%);
                        }

                        .message-item {
                            margin: 8px 0;
                            padding: 8px 12px;
                            width: 100%;
                            display: block;
                            position: relative;

                            .field-highlight {
                                color: $theme-surface-secondary;
                            }

                            .post-preview_container {
                                position: relative;
                                display: block;
                                text-align: left;

                                &\+title {
                                    display: inline-block;
                                    width: auto;
                                    text-align: left;
                                }

                                &\+excerpt {
                                    display: none;
                                    width: auto;
                                    text-align: left;
                                }
                            }

                            .post-details_container {
                                margin: 0;
                                padding: 0;
                                position: relative;
                                display: block;
                                width: 100%;
                                font-size: 80%;

                                &-left {
                                    margin: 0;
                                    padding: 0;
                                    position: relative;
                                    display: block;
                                    width: 100%;
                                    float: left;

                                    &\+author {
                                        margin: 0;
                                        padding: 0;
                                        display: inline-block;
                                        width: auto;
                                        text-align: left;
                                        float: left;
                                    }

                                    &\+comment-count {
                                        margin: 0;
                                        padding: 0;
                                        display: inline-block;
                                        width: auto;
                                        text-align: left;
                                        float: right;
                                    }
                                }

                                &-right {
                                    margin: 0;
                                    padding: 0;
                                    position: relative;
                                    display: none;
                                    width: auto;
                                    float: right;

                                    &\+last-update-timestamp {
                                        margin: 0;
                                        padding: 0;
                                        display:block;
                                        width: 100%;
                                        text-align: left;
                                    }
                                }
                            }
                        }

                    }

                    .create-post-button {
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        transform: translate(-50%, -100%);

                        border-color: $theme-surface-secondary;
                        color: $theme-surface-secondary;
                        border-radius: 1px;

                        &:hover {
                            background-color: $theme-surface-secondary;
                            color: $theme-on-surface-secondary;
                        }

                        &:active,
                        &:focus {
                            background-color: $theme-surface-secondary;
                            border-color: $theme-surface-secondary;
                            color: $theme-on-surface-secondary;
                            outline: $theme-surface-secondary;
                            box-shadow:  0 0 10px $theme-surface-secondary;
                        }
                    }
                }

                .message-item_container {
                    position: relative;
                    padding-bottom: 48px;
                    height: 100%;

                    @extend .content-wrap;

                    .post-header_container {
                        display: block;

                        &\+title {
                            width: 100%;
                            display: block;
                            text-align: left;
                        }

                        &\+details {
                            width: 100%;
                            display: block;
                            text-align: left;

                            .author-detail {
                                margin-right: 12px;
                                position: relative;
                                display: inline-block;
                            }

                            .timestamp-detail {
                                position: relative;
                                display: inline-block;
                            }
                        }
                    }

                    .post-body_container {
                        width: 100%;
                        display: block;

                        .post-body_content {
                            margin: 0;
                            padding: 12px 24px;
                            width: 100%;
                            display:block;
                            text-align: left;
                        }
                    }

                    .message-comment_container {

                        margin: 0;
                        text-align: left;

                        .section-title {
                            color: $theme-on-background-color;
                            font-weight: 500;
                        }

                        .comment-list {

                            text-align: left;

                            .no-comments {
                                text-align: center !important;
                            }

                            .comment-item {
                                margin: 0 12px;
                                padding: 0;
                                border: 0;
                                font-size: 90%;

                                &:not(:first-child) {
                                    border-top: 2px;
                                    border-style: dashed;
                                    border-color: $theme-surface-secondary;
                                }

                                &:last-child {

                                    .comment-body_container {
                                        padding-bottom: none;
                                    }
                                }

                                .comment-header_container {
                                    padding: 0;
                                    padding-top: 16px;
                                    padding-bottom: 2px;
                                    font-weight: 500;

                                    .field-highlight {
                                        color: $theme-surface-secondary;
                                    }
                                }

                                .comment-body_container {
                                    padding: 0;
                                    padding-top: 2px;
                                    padding-bottom: 16px;

                                    .comment-body_content {
                                        position: relative;
                                    }
                                }
                            }
                        }

                        .purple-divider {
                            margin: 32px 24px;
                            height: 0px;
                            border: 0;
                            border-bottom: 2px;
                            border-style: dashed;
                            border-color: $theme-surface-secondary;
                            box-shadow: 0 0 10px $theme-under-on-color;
                        }

                        .form-input-fields {
                            position: relative;
                            width: 100%;
                            display: inline-block;

                            label {
                                width: 100%;
                                text-align: left;
                            }

                        }

                        textarea, input[type="text"] {
                            background-color: $theme-pale-compliment;
                            color: $theme-on-pale-compliment;
                            border-radius: 1px;

                            &:active,
                            &:focus {
                                border-color: $theme-surface-highlight;
                                box-shadow: none;
                                outline: none;
                            }
                        }

                        .create-post-button {
                            position: relative;
                            width: 100%;
                            display: inline-block;
                        }

                    }
                }

                .create-post_container {
                    position: relative;
                    height: 100%;

                    .create-post_form {
                        position: relative;
                        margin-top: 24px;
                        height: 100%;

                        @extend .content-wrap;

                        text-align: left;

                        label {
                            width: 100%;
                            text-align: center;
                        }

                        .form-input-fields {
                            position:relative;
                            width: 100%;
                        }

                        textarea, input[type="text"] {
                            background-color: $theme-pale-compliment;
                            color: $theme-on-pale-compliment;
                            border-radius: 1px;

                            &:active,
                            &:focus {
                                border-color: $theme-surface-highlight;
                                box-shadow: none;
                                outline: none;
                            }
                        }

                        .create-post-button {
                            margin: 0;
                            margin-top: 24px;
                            width: 116px;
                            float: right;
                        }

                        .cancel-post-button {
                            margin: 0;
                            margin-top: 24px;
                            width: 116px;
                            float: left;
                        }

                    }
                }

                .create-post-button {
                    position: relative;

                    border-color: $theme-surface-secondary;
                    color: $theme-surface-secondary;
                    border-radius: 1px;

                    &:hover {
                        background-color: $theme-surface-secondary;
                        color: $theme-on-surface-secondary;
                    }

                    &:active,
                    &:focus {
                        background-color: $theme-surface-secondary;
                        border-color: $theme-surface-secondary;
                        color: $theme-on-surface-secondary;
                        outline: $theme-surface-secondary;
                        box-shadow:  0 0 10px $theme-surface-secondary;
                    }
                }

                .cancel-post-button {
                    position: relative;

                    border-color: $theme-surface-primary;
                    color: $theme-surface-primary;
                    border-radius: 1px;

                    &:hover {
                        background-color: $theme-surface-primary;
                        color: $theme-on-surface-primary;
                    }

                    &:active,
                    &:focus {
                        background-color: $theme-surface-primary;
                        border-color: $theme-surface-primary;
                        color: $theme-on-surface-primary;
                        outline: $theme-surface-primary;
                        box-shadow:  0 0 10px $theme-surface-primary;
                    }
                }

                .back-to-board-button {
                    position: relative;
                    width: 100%;

                    border-color: $theme-surface-primary;
                    color: $theme-surface-primary;
                    border-radius: 1px;

                    &:hover {
                        background-color: $theme-surface-primary;
                        color: $theme-on-surface-primary;
                    }

                    &:active,
                    &:focus {
                        background-color: $theme-surface-primary;
                        border-color: $theme-surface-primary;
                        color: $theme-on-surface-primary;
                        outline: $theme-surface-primary;
                        box-shadow:  0 0 10px $theme-surface-primary;
                    }
                }

                .purple-divider {
                    margin: 32px 24px;
                    height: 1px;
                    border: 0;
                    background: $theme-surface-secondary;
                    box-shadow: 0 0 10px $theme-under-on-color;

                    &.gray {
                        background-color: $theme-over-on-color !important;
                    }

                    &.stylish {
                        height: 2px;
                        border-radius: 150% !important;
                    }

                    &.full-width {
                        margin: 32px 0 !important;
                    }

                    &\+transition {
                        @extend .purple-divider;

                        height: 0px;
                        background-color: transparent;
                        border-bottom: 3px;
                        border-style: dashed;
                        border-color: $theme-surface-secondary;

                        &.gray {
                            background-color: transparent !important;
                            border-color: $theme-over-on-color !important;
                        }

                        &.stylish {
                            height: 0px;
                        }

                        &.full-width {
                            margin: 32px 0;
                        }
                    }

                }
            }
        }

        // Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) {
            margin: 0 16px;
            padding: 12px 8px;

            .content-block {
                padding: 16px;

                &_inner {

                    .message-list_container {

                        .message-list {
                            margin-top: 32px;

                            .message-item {
                                margin: 12px 0;
                                padding: 12px 16px;

                            }
                        }
                    }

                    .message-item_container {

                        .post-body_container {

                            .post-body_content {
                                width: 100%;
                            }
                        }

                        .message-comment_container {

                            .form-input-fields{
                                position: relative;
                            }

                            .create-post-button {
                                position: relative;
                            }
                        }

                    }

                    .create-post_container {

                        .create-post_form {

                            .create-post-button {
                                width: 124px;
                            }

                            .cancel-post-button {
                                width: 124px;
                            }
                        }
                    }

                }
            }
        }

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
            margin: 0 32px;
            padding: 16px;

            .content-block {
                padding: 24px;

                &_inner {

                    .message-list_container {

                        .message-list {
                            margin-top: 48px;

                            .message-item {
                                margin: 24px 0;
                                padding: 12px 24px;

                                .post-preview_container {

                                    &\+title {
                                       margin-right: 12px;
                                    }

                                }

                                .post-details_container {
                                    width: 100%;
                                    font-size: 100%;

                                    &-left{
                                        width: auto;

                                        &\+author {
                                            margin-right: 12px;
                                            float: none;
                                        }

                                        &\+comment-count {
                                            float: none;
                                        }
                                    }

                                    &-right {
                                        display: block;
                                    }
                                }

                            }

                        }

                        .create-post-button {
                            left: 100%;
                            transform: translate(-100%, -100%);
                        }
                    }

                    .message-item_container {

                        .message-comment_container {

                            .form-input-fields{
                                width: 75%;
                            }

                            .create-post-button {
                                width: auto;
                                margin-left: 24px;
                            }
                        }

                    }

                    .create-post_container {

                        .create-post_form {

                            label {
                                text-align: left;
                            }

                            .create-post-button {
                                width: 128px;
                            }

                            .cancel-post-button {
                                margin-right: 24px;
                                width: 128px;
                                float: right;
                            }
                        }
                    }

                    .back-to-board-button {
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin-right: 24px;
                        width: auto;
                        float: right
                    }

                    .purple-divider {

                        &.vertical-button-divider {
                            display: none !important;
                        }
                    }

                }
            }
        }

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            margin: 0 48px;
            padding: 24px;

            .content-block {
                padding: 24px;
            }
        }

        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) {
            margin: 0 64px;

            .content-block {
                padding: 24px;
            }
        }
    }
}
