// Import Theme
@import "../../scss/theme";


// Component Styles

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

.comment-item {
    margin: 0 12px;
    padding: 0;
    border: 0;
    font-size: 90%;

    &:not(:first-child) {
        border-top: 2px;
        border-style: dashed;
        border-color: $theme-surface-secondary;
    }

    &:last-child {

        .comment-body_container {
            padding-bottom: none;
        }
    }

    .comment-header_container {
        padding: 0;
        padding-top: 16px;
        padding-bottom: 2px;
        font-weight: 500;

        .post-header_container {
            display: block;

            &\+details {
                width: 100%;
                display: block;
                text-align: left;

                .field-highlight {
                    color: $theme-surface-secondary;
                }
            }
        }
    }

    .comment-body_container {
        padding: 0;
        padding-top: 2px;
        padding-bottom: 16px;

        .comment-body_content {
            position: relative;
        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {

    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {

    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {

    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {

    }
}