// Import Theme
@import "../../scss/theme";

// Component Styles

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

.message-list_container {
    position: relative;
    padding-bottom: 48px;
    height: 100%;
    display: flex;
    flex-flow: column;

    .focus-header {
        width: 100%;

        .title-capture {
            color: $theme-surface-secondary;
            font-weight:500;
            letter-spacing: -4px;
        }
    }

    .focus-content {
        width: 100%;
        height: 100%;


        .message-list {
            position: relative;
            margin-top:24px;

            &.no-messages {
                top: 50%; left: 50%;
                transform: translate(-50%,-50%);
            }
        }

        .message-content_container {
            position: relative;
        }
    }

    .create-post-button {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -100%);

        border-color: $theme-surface-secondary;
        color: $theme-surface-secondary;
        border-radius: 1px;

        &:hover {
            background-color: $theme-surface-secondary;
            color: $theme-on-surface-secondary;
        }

        &:active,
        &:focus {
            background-color: $theme-surface-secondary;
            border-color: $theme-surface-secondary;
            color: $theme-on-surface-secondary;
            outline: $theme-surface-secondary;
            box-shadow:  0 0 10px $theme-surface-secondary;
        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {

        .message-list {
            margin-top: 32px;
        }
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {

        .message-list {
            margin-top: 48px;
        }

        .create-post-button {
            left: 100%;
            transform: translate(-100%, -100%);
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {

    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {

    }
}
