// Import Theme
@import "../../scss/theme";


// Component Styles

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

.create-post_container {
    position: relative;
    height: 100%;

    .focus-header {
        width: 100%;

        .header-wrap {
            padding: 0;

            .title-capture {
                color: $theme-surface-secondary;
                font-weight:500;
                letter-spacing: -4px;
            }
        }
    }

    .create-post_form {
        position: relative;
        margin-top: 24px;
        height: 100%;
        display: flex;
        flex-flow: column;

        label {
            width: 100%;
            text-align: center;
        }

        textarea, input[type="text"] {
            background-color: $theme-pale-compliment;
            color: $theme-on-pale-compliment;
            border-radius: 1px;

            &:active,
            &:focus {
                border-color: $theme-surface-highlight;
                box-shadow: none;
                outline: none;
            }
        }

        .create-post-button {
            margin: 0;
            margin-top: 24px;
            width: 116px;
            float: right;
        }

        .cancel-post-button {
            margin: 0;
            margin-top: 24px;
            width: 116px;
            float: left;
        }
    }

    .purple-divider {
        margin: 32px 24px;
        height: 1px;
        border: 0;
        background: $theme-surface-secondary;
        box-shadow: 0 0 10px $theme-under-on-color;

    }

    .create-post-button {
        position: relative;

        border-color: $theme-surface-secondary;
        color: $theme-surface-secondary;
        border-radius: 1px;

        &:hover {
            background-color: $theme-surface-secondary;
            color: $theme-on-surface-secondary;
        }

        &:active,
        &:focus {
            background-color: $theme-surface-secondary;
            border-color: $theme-surface-secondary;
            color: $theme-on-surface-secondary;
            outline: $theme-surface-secondary;
            box-shadow:  0 0 10px $theme-surface-secondary;
        }
    }

    .cancel-post-button {
        position: relative;

        border-color: $theme-surface-primary;
        color: $theme-surface-primary;
        border-radius: 1px;

        &:hover {
            background-color: $theme-surface-primary;
            color: $theme-on-surface-primary;
        }

        &:active,
        &:focus {
            background-color: $theme-surface-primary;
            border-color: $theme-surface-primary;
            color: $theme-on-surface-primary;
            outline: $theme-surface-primary;
            box-shadow:  0 0 10px $theme-surface-primary;
        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {

        .create-post_form {

            .create-post-button {
                width: 124px;
            }

            .cancel-post-button {
                width: 124px;
            }
        }
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {

        .create-post_form {

            label {
                text-align: left;
            }

            .create-post-button {
                width: 128px;
            }

            .cancel-post-button {
                margin-right: 24px;
                width: 128px;
                float: right;
            }
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {

    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {

    }
}
